# Enable Microsoft Foundry integration
CLAUDE_CODE_USE_FOUNDRY=0

# Anthropic API Key if use claude via Anthropic API instead of Foundry
ANTHROPIC_API_KEY=sk-ant-...

# Anthropic Foundry API Key
ANTHROPIC_FOUNDRY_API_KEY=

# Azure resource name (replace {resource} with your resource name)
# It will export ANTHROPIC_FOUNDRY_BASE_URL=https://{resource}.services.ai.azure.com
ANTHROPIC_FOUNDRY_RESOURCE=

# Set models to your resource's deployment names
ANTHROPIC_DEFAULT_SONNET_MODEL='claude-haiku-4-5'
ANTHROPIC_DEFAULT_HAIKU_MODEL='claude-haiku-4-5'
ANTHROPIC_DEFAULT_OPUS_MODEL='claude-haiku-4-5'


RUNS_DIR=./runs
UPLOADS_DIR=./uploads
SKILLS_DIR=./skills
DOCKER_IMAGE_NAME=meta-analysis-r
MAX_AGENT_TURNS=25
